{% extends "template.html" %}
{% block content %}

<h2 class="text-white">Lista de personas </h2>
<div class = "booking-from-body">
    <a href="/transaccion/agregar" class="btn btn-danger">Agregar</a>
    
    <table id="tabla" class="table text-white">
        
        <thead>
            <th>Nro</th>
            <th>Ventanilla</th>
            <th>Fecha</th>
            <th>Detalle</th>

        </thead>
        <tbody>
            {% for item in lista %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.ventanilla}}</td>
                <td>{{item.fecha}}</td>
                <td>{{item.detalle}}</td>
                <td><a class="btn btn-info" href="/transaccion/editar/{{item.id}}">Modificar</a></td>
            </tr>
            {% endfor %}
        </tbody>


    </table>


    
</div>
{% endblock %}